asgiref==3.6.0
backports.zoneinfo==0.2.1
bcrypt==4.0.1
cffi==1.15.1
cryptography==39.0.0
Django==4.1.6
django-hstore==1.4.2
MarkupSafe==2.1.2
numpy==1.24.2
pandas==1.5.3
paramiko==3.0.0
plotly==5.13.0
psycopg2==2.9.5
psycopg2-binary==2.9.5
pycparser==2.21
PyNaCl==1.5.0
pysftp==0.2.9
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
sqlparse==0.4.3
tenacity==8.1.0
tqdm==4.64.1
